* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  height: 100%;
}

p {
  color: hsl(240, 38%, 20%);
  font-weight: 300;
}

span {
  font-size: 20px;
  font-weight: 300;
  color: hsl(240, 18%, 77%);
}

.testimonial-text {
  background-image: url("images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: top left 96px;
  margin: auto 0;
}

.testament {
  width: 625px;
  margin-top: 67px;
  margin-bottom: 32px;
  margin-right: -112px;
}

.author {
  font-size: 20px;
  font-weight: 700;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto;
}

.testimonials {
  position: relative;
}

.testimonial {
  display: flex;
}

.testimonial-image {
  background-image: url("images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.img {
  margin: 52px 76px 52px 52px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  background-color: #fff;
  position: absolute;
  bottom: 36px;
  right: 386px;
  border-radius: 25px;
  width: 90px;
  height: 45px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.prev, .next {
  height: 100%;
  width: 50%;
}

.prev:hover::after, .next:hover::after {
  cursor: pointer;
  background-color: #FAEBD7;
}

.prev::after, .next::after {
  content: '';
  height: 100%;
  width: 50%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.prev::after {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-image: url("images/icon-prev.svg");
}

.next::after {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: url("images/icon-next.svg");
}

@media only screen and (max-width:1120px) {

  span{
    display: block;
    font-size: 16px;
    font-weight: 500;
  }

  .container{
    background-size: 60%;
  }

  .testimonials, .testimonial {
    max-width: 790px;
    height: 100vh;
  }

  .testimonial {
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .testimonial-text {
    margin: 0;
    background-position: top center;
    background-size: 65px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .testament {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }

  .author{
    margin-top: 20px;
    font-size: 16px;
  }

  .img{
    margin:35px 40px 40px;
    height:300px;
  }


.testimonial-image{
  position: relative;

}
  .buttons{
    left: 50%;
    transform: translateX(-50%);
    bottom: 308px;
  }

}
